<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Profile page</h3>
			<hr>
		</div>
	</div>

	<div class="row" id="profilePage">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="glyphicon glyphicon-th-list"></span> User details</div>

				<div class="panel-body">
					
					<h4 id="nameLabel"></h4>

					<button class="btn btn-primary btn-xs" id="profileEditBtn" hidden>Edit</button>
					<hr>
					
					<p><b>account info</b></p>

					<p>username: {{ user.username }}</p>
					<p>email: {{ user.email }}</p>
					<p>birthdate: {{ user.birthdate }}</p>

					<br>
					<p><b>body info</b></p>

					<p>weight: in development</p>
					<p>push: in development</p>
					<p>arm: in development</p>
					
					<div class="well">
						
						<two-state-list 
							list="activities"
							listlbl="'Select an activity'"
							slistlbl="'Your activities'"
							savefn="saveActivities(selectedArray)"
							removefn="removeActivity(id)">
						</two-state-list>
						
					</div>
					

				</div>

			</div>
		</div>
	</div>

</div>