<article class="container">

	<section class="row">
		<div class="col-sm-12">
			<img src="http://placehold.it/150x150" alt="" style="float: left; margin-right: 20px;">
			<h4>{{ user.firstname + ' ' + user.lastname }}</h4>
			<p><span class="label label-success">online</span></p>
			<p><i>"lorem ipsum"</i></p>
		</div>
	</section>
<hr>

	<section class="row">
		
		<div class="col-sm-8">
			<div class="panel panel-default">
			
				<div class="panel-heading">Info</div>
			
				<div class="panel-body">
					

					<p><b>Actions</b></p>
					<div class="btn-group">
						<button class="btn btn-primary" id="profileEditBtn">Edit</button>
						<button class="btn btn-success" id="profileEditBtn">Some button</button>
						<button class="btn btn-info" id="profileEditBtn" >Some button</button>
						<button class="btn btn-warning" id="profileEditBtn" >Some button</button>
					</div>
					<hr>
					
					<h4 id="nameLabel"></h4>

					<p><b>Account info</b></p>

					<p>username: {{ user.username }}</p>
					<p>email: {{ user.email }}</p>
					<p>birthdate: {{ user.birthdate }}</p>

					<br>
					<p><b>Body info</b></p>

					<p>weight: in development</p>
					<p>push: in development</p>
					<p>arm: in development</p>
				</div>
			</div>
				
		</div>

		<div class="col-sm-4">
			
			<div class="panel panel-default">
			
				<div class="panel-heading">Select activities</div>
			
				<div class="panel-body">
					
					<two-state-list 
						list="activities"
						listlbl="'Select an activity'"
						slistlbl="'Your activities'"
						savefn="saveActivities(selectedArray)"
						removefn="removeActivity(id)">
					</two-state-list>	

				</div>
				
			</div>
			
		</div>

	</section>


</article>