<div class="container" >

	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Welcome</strong> to personal training tracker. Get ready to competition.
				<ul>
					<li>Use control panel to save your trainings.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row" id="dashboardPage" >
		
		<div class="col-md-3 col-sm-4" id="personalWidget">
			
			<div class="panel panel-primary">
				
				<div class="panel-heading">
					<!--<span class="glyphicon glyphicon-user"></span> -->
					Control panel
				</div>
				
				<div class="panel-body">

					<div >
						<button class="btn btn-success btn-block" ng-click="getUser('dayaram')">
							get user		
						</button>

						<button class="btn btn-warning btn-block" ng-click="generateVisits()" >
							generate visits for users		
						</button>

						<hr>
					</div>

					
					<h5><b> {{ user.firstname + ' ' + user.lastname }} </b></h5>
					<hr>
					
					<h5> {{ todayDate }} </h5>
					<hr>
					
					<two-state-list 
						list="activities"
						listlbl="'Add visit'"
						slistlbl="'Visited today'"
						savefn="saveVisits(selectedArray)"
						removefn="removeVisit(id)">
					</two-state-list>

				</div>		
			</div>

			<friends-list users="user.friends"> </friends-list>

		</div>

		<div class="col-md-6 col-sm-8">
			<div class="panel panel-primary">
				
				<div class="panel-heading">Visits summary</div>
						
				<visits-summary visits="visitsSummary"></visits-summary>

			</div>
		</div>

	</div>

</div>