<% layout('/layout/main') -%>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center">TrainingTracker</h1>
			<h3 class="text-center">Admin panel</h3>	
			<hr>
		</div>
	</div>
	
	<div class="row">
		
		<div class="col-sm-3">
			<div class="list-group">
				<a href="" class="list-group-item active">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
				<a href="" class="list-group-item">Firstname Lastname</a>
			</div>
		</div>


		<div class="col-sm-9">
			<div class="well">

				<h4>Igor Pomogai</h4>
				<button class="btn btn-primary btn-xs">Edit</button>
				<button class="btn btn-danger btn-xs">Remove</button>

				<hr>

				<p>username: dayaram</p>
				<p>email: pomogai92@gmail.com</p>
				<p>birthdate: 16.03.1992</p>

				<hr>

				<p>weight: 84 kg</p>
				<p>push: 100 kg</p>
				<p>arm: 32 sm</p>	
				
			</div>
			
		</div>
			

	</div>

	<hr>
	<p class="text-center">made by <b>dayaram</b></p>

	<script>

		$(document).ready(function() {

		}

	</script>

</div>