<% layout('/layout/main') -%>

<script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>
<script src="/js/trainingweek.js"></script>

<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Welcome</strong> to personal training tracker. Get ready to competition.
				<ul>
					<li>Use control panel to save your trainings.</li>
					<li><strong>"Your hard week"</strong> will display the badges for each your training on a week table.</li>
					<li><strong>"News"</strong> will display the visits and other usefull tweets from system and your friends.</li>
					<li><strong>"Points"</strong> table will reflect results of your friends and will show you who is the leader.</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row" id="dashboardPage" >
	
		<div class="col-md-3 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1" id="personalWidget">
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-user"></span> Control panel
				</div>
				<div class="panel-body">
					<h5><b><%- user.firstname + ' ' + user.lastname %></b></h5>
					<hr>
					<h5 id="dateLabel"></h5>
					<hr>
					<form style="font-size: 16px;" name="visitForm">
						<div class="checkbox">
							<label>
								<input type="checkbox" <% if (visitedGym) {%> checked <% } %> name="gymVisit">
							    Visited Gym
							</label>
						</div>
						<div class="checkbox">
							<label>
							    <input type="checkbox" <% if (visitedPool) {%> checked <% } %> name="poolVisit">
							    Visited Pool
							</label>
						</div>
						<div class="checkbox">
							<label>
							    <input type="checkbox" <% if (visitedRun) {%> checked <% } %> name="runVisit">
							    Went Running
							</label>
						</div>
						<div>
							<button type="submit" class="btn btn-primary btn-block">
								Save		
							</button>
						</div>
						
					</form>

					<hr>

					<div id="successSaveAlert" class="alert alert-success  alert-dismissible" role="alert" hidden>
						<button hidden type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						SUCCESS! 
					</div>

				</div>		
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-calendar"></span> Points
				</div>
				<ul id="pointsList" class="list-group">
				</ul>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><span class="glyphicon glyphicon-th-list"></span> Friends</div>
				<ul id="friendsList" class="list-group">
					
				</ul>
			</div>

		</div>

		<div class="col-md-9 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1">

			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default hidden-xs">
						<div class="panel-heading">
							<span class="glyphicon glyphicon-calendar"></span> Your hard week
						</div>

						<table class="table table-condensed table-bordered">
							<colgroup>
						        <col <% if (dayOfWeek === 'mon') { %> class="info" <% } %> ></col>
						        <col <% if (dayOfWeek === 'tue') { %> class="info" <% } %> ></col>
						        <col <% if (dayOfWeek === 'wed') { %> class="info" <% } %> ></col>
						        <col <% if (dayOfWeek === 'thu') { %> class="info" <% } %> ></col>
						        <col <% if (dayOfWeek === 'fri') { %> class="info" <% } %> ></col>
						        <col <% if (dayOfWeek === 'sat') { %> class="info" <% } %> ></col>
						        <col <% if (dayOfWeek === 'sun') { %> class="info" <% } %> ></col>
						    </colgroup>
							<tr>
								<td><b>Mon</td>
								<td><b>Tue</td>
								<td><b>Wed</td>
								<td><b>Thu</td>
								<td><b>Fri</td>
								<td><b>Sat</td>
								<td><b>Sun</td>
							</tr>
							<tr>
								<td id="monGym">
									<% if (weekArray[0].gym) { %>
									<span class="label label-success">
									gym
									</span>
									<% } %>
								</td>
								<td id="tueGym">
									<% if (weekArray[1].gym) { %>
									<span class="label label-success">
									gym
									</span>
									<% } %>
								</td>
								<td id="wedGym">
									<% if (weekArray[2].gym) { %>
									<span class="label label-success">
									gym
									</span>
									<% } %>
								</td>
								<td id="thuGym">
									<% if (weekArray[3].gym) { %>
									<span class="label label-success">
									gym
									</span>
									<% } %>
								</td>
								<td id="friGym">
									<% if (weekArray[4].gym) { %>
									<span class="label label-success">
									gym
									</span>
									<% } %>
								</td>
								<td id="satGym">
									<% if (weekArray[5].gym) { %>
									<span class="label label-success">
									gym
									</span>
									<% } %>
								</td>
								<td id="sunGym">
									<% if (weekArray[6].gym) { %>
									<span class="label label-success">
									gym
									</span>
									<% } %>
								</td>
							</tr>
							<tr>
								<td id="monPool">
									<% if (weekArray[0].pool) { %> 
									<span class="label label-info">
									pool 
									</span>
									<% } %>
								</td>
								<td id="tuePool">
									<% if (weekArray[1].pool) { %> 
									<span class="label label-info">
									pool 
									</span>
									<% } %>
								</td>
								<td id="wedPool">
									<% if (weekArray[2].pool) { %> 
									<span class="label label-info">
									pool 
									</span>
									<% } %>
								</td>
								<td id="thuPool">
									<% if (weekArray[3].pool) { %> 
									<span class="label label-info">
									pool 
									</span>
									<% } %>
								</td>
								<td id="friPool">
									<% if (weekArray[4].pool) { %> 
									<span class="label label-info">
									pool 
									</span>
									<% } %>
								</td>
								<td id="satPool">
									<% if (weekArray[5].pool) { %> 
									<span class="label label-info">
									pool 
									</span>
									<% } %>
								</td>
								<td id="sunPool">
									<% if (weekArray[6].pool) { %> 
									<span class="label label-info">
									pool 
									</span>
									<% } %>
								</td>
							</tr>
							<tr>
								<td id="monRun">
									<% if (weekArray[0].running) { %> 
									<span class="label label-warning">
									run
									</span>
									 <% } %>
								</td>
								<td id="tueRun">
									<% if (weekArray[1].running) { %> 
									<span class="label label-warning">
									run
									</span>
									 <% } %>
								</td>
								<td id="wedRun">
									<% if (weekArray[2].running) { %> 
									<span class="label label-warning">
									run
									</span>
									 <% } %>
								</td>
								<td id="thuRun">
									<% if (weekArray[3].running) { %> 
									<span class="label label-warning">
									run
									</span>
									 <% } %>
								</td>
								<td id="friRun">
									<% if (weekArray[4].running) { %> 
									<span class="label label-warning">
									run
									</span>
									 <% } %>
								</td>
								<td id="satRun">
									<% if (weekArray[5].running) { %> 
									<span class="label label-warning">
									run
									</span>
									 <% } %>
								</td>
								<td id="sunRun">
									<% if (weekArray[6].running) { %> 
									<span class="label label-warning">
									run
									</span>
									 <% } %>
								</td>
							</tr>
						</table>
					</div>

					<div id="visitsWidget" class="panel panel-default">
						
					</div>

				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div id="newsPanelHeading" class="panel-heading">
							News
						</div>
						<div class="panel-body">Here comes the lates news:</div>
						<div class="list-group" id="newsList"></div>
						<div class="panel-body">
							<a href="#">load more</a>
						</div>
					</div>
				</div>

			</div>
			

			

		</div>
		
		<div class="col-md-offset-0 col-md-3 col-sm-offset-4 col-sm-8 col-xs-8">
		
			

		</div>
	
	</div>
	
	<hr>
	
	<p class="text-center">made by <b>dayaram</b></p>

</div>


<script>

$(document).ready(function() {
	var newsList = $('#newsList');
	var socket;

	loadFriends();
	loadVisitsTable();
	loadLatestNews();

	showTodayDate();

	initSocket();
	initVisitForm();

	function initVisitForm() {
		$('#personalWidget form').on('submit', function() {
			var form = $(this);

		    $.ajax({
				url: "/visits",
				method: "POST",
				data: form.serialize(),
				statusCode: {
					200: function(newsToShow) {
						$('#successSaveAlert').show();
					  	
					  	setTimeout(function() {
					  		$('#successSaveAlert').hide();
						}, 2000);

					  	var weekDay = '<%= dayOfWeek %>';
						redrawTrainingWeek(newsToShow, weekDay);

					  	newsToShow.forEach(function(news) {
					  		sendVisitNews(news);
					  	});

					  	loadVisitsTable();
					},
					403: function(jqXHR) {
						var error = JSON.parse(jqXHR.responseText);
					}
				}
			});
			return false;
		});
	}

	function initSocket() {
		socket = io.connect('', {
			reconnect: false
		});

		socket
			.on('newVisit', function(newsObj) {
				printVisitNews(newsObj);
			})
			.on('getNews', function(allNews) {
				allNews.forEach(function(news) {
					printVisitNews(news);
				});
			})
			.on('connect', function() {
				printStatus("соединение установлено");
			})
			.on('disconnect', function() {
				printStatusError("соединение потеряно");
				setTimeout(reconnect, 500);
			});
	}

	function showTodayDate() {
		var date = new Date();	

		$('#dateLabel')
			.append('Today: ' 
				+ ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate()) + '.'
				+ ((date.getMonth() < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '.' +
				+ date.getFullYear()
			);
	}

	function loadLatestNews() {
		$.ajax({
			url: "/news/latest",
			method: "GET"
		})
		.done(function(loadedNews) {
			loadedNews.reverse().forEach(function(news) {
				printVisitNews(news);
			});
		});
	}

	function loadFriends() {
		var friendsList;

		$.ajax({
			url: "/friends",
			method: "GET"
		})
		.done(function(loadedFriends) {
			var i = 0;
			friendsList = [];

			loadedFriends.forEach(function(friend) {
				$('#friendsList').append('<a href="" class="list-group-item">' + friend.username + '<span class="badge">info</span></a>');
				friendsList[i++] = friend.userId;
			});

			$('#friendsList>a').click(function() {
				var friendIndex = $(this).index();
				console.log(friendsList[friendIndex]);

				window.location.href = '/profile?userId='+friendsList[friendIndex];
				return false;
			});
		});
	}

	function sendVisitNews(newsType) {
		socket.emit('newVisit', newsType, function(res) {
			if (!res.exists) {
				printVisitNews(res.news);
			}
		});

		return false;
	}

	function reconnect() {
		socket.once('error', function() {
			setTimeout(reconnect, 500);
		});
		socket.socket.connect();
	}

	function printStatus(status) {
		$('#newsPanelHeading')
			.prepend('<span class="glyphicon glyphicon-link"></span> ');
	}

	function loadVisitsTable() {
		$.ajax({
			url: "/visits",
			method: "GET"
		})
		.done(function(loadedVisits) {
			updateVisitsTable(loadedVisits);
			updatePointsTable(loadedVisits.visitsArray);
		});
	}

	function updateVisitsTable(visitsObj) {
		var visits = visitsObj.visitsArray;
		var visitsWidget = $('#visitsWidget');
		var visitsWidgetHeader = '<div class="panel-heading">'
							+ '<span class="glyphicon glyphicon-calendar"></span> Visits'
							+ '</div>';
		var monthPanelBody = '<div class="panel-body">%date%</div>';
		var visitsTable = '<table id="visitsTable" class="table table-condensed table-bordered"></table>';
		var loadMoreLink = '<div id="loadMoreVisitsLink" class="panel-body"><a href="#">load more</a></div>';

		visitsWidget.empty();
		visitsWidget.append(visitsWidgetHeader);
		visitsWidget.append(monthPanelBody.replace('%date%', visitsObj.date));
		visitsWidget.append(visitsTable);
		visitsWidget.append(loadMoreLink);

		var table = $('#visitsTable');

		var entry = '';
		var header = '<tr>'
						+ '<td></td>'
						+ '<td><span class="label label-success">gym</span></td>'
						+ '<td><span class="label label-info">pool</span></td>'
						+ '<td><span class="label label-warning">running</span></td>'
					+ '</tr>';

		table.empty();
		table.append(header);
		Object.keys(visits).forEach(function(visit) {
			entry += '<tr>'
						+ '<td>'+ visits[visit].username +'</td>'
						+ '<td>' + visits[visit].gym + '</td>'
						+ '<td>' + visits[visit].pool + '</td>'
						+ '<td>' + visits[visit].run + '</td>'
					+ '</tr>';
		});
		table.append(entry);
	}

	function updatePointsTable(visits) {
		var ptsList, winElem, normElem, ptsArray, points;
		
		ptsList = $('#pointsList');
		ptsList.empty();

		winElem = '<li class="list-group-item list-group-item-success">'
							+ '<span class="glyphicon glyphicon-star"></span>'
							+ ' %user%'
							+ '<span class="badge">%points%</span>'
						+ '</li>';
		normElem = '<li class="list-group-item">%user%<span class="badge">%points%</span></li>';

		ptsArray = [];
		for (var key in visits) {
			ptsArray.push({
				username: visits[key].username,
				points: visits[key].points
			})
		}

		ptsArray.sort(function(a, b) {
			if (a.points < b.points) return 1;
			if (a.points > b.points) return -1;
			return 0;
		});

		ptsList
			.append(
				winElem
					.replace('%user%', ptsArray[0].username)
					.replace('%points%', ptsArray[0].points));
		

		ptsArray.forEach(function(visit, index) {
			if (index > 0) {
				ptsList
					.append(
						normElem
							.replace('%user%', visit.username)
							.replace('%points%', visit.points));
			}
		});
	}

	function printStatusError(status) {
		$('<a href="#" class="list-group-item list-group-item-danger">')
			.append($('<i>').text(status)).appendTo(newsList);
	}

	function printVisitNews(news) {
		var nDate = new Date(news.date);
		var timestamp = 
			(nDate.getDate() > 10 ? nDate.getDate() : '0' + nDate.getDate()) + '.'
			+ (nDate.getMonth() > 10 ? (nDate.getMonth()+1) : '0' + (nDate.getMonth()+1)) + '.'
			+ nDate.getFullYear();

		var text = ''
			+ '<a href="" class="list-group-item list-group-item-info news-element">' 
				+ '<h5 class="list-group-item-heading">'
					+ '<span class="glyphicon glyphicon-plus"></span> '
					+  'New visit'
				+ '</h5>'
				+ '<p class="list-group-item-text">'
					+ '%newsBody%'
				+ '</p>'
				+ '<p class="list-group-item-text text-right">'
					+ '<span class="label label-info">'
					+ '<span class="glyphicon glyphicon-time"></span> '
					+ timestamp
					+ '</span>'
				+ '</p>'
			+ '</a>';

		var body;

		switch (news.newsType) {
			case 'gym_visit': 
				body = '<b><span class="label label-primary">' + news.user + '</span></b> visited GYM';
				break;
			case 'pool_visit':
				body = '<b><span class="label label-primary">' + news.user + '</span></b> visited POOL';
				break;
			case 'run_visit':
				body = '<b><span class="label label-primary">' + news.user + '</span></b> was RUNNING';
				break;
		};

		newsList.prepend(text.replace('%newsBody%', body));

		$('.news-element').click(function() {
			return false;
		});
	}

	function printOtherNews() {
		newsList.prepend(
			'<a href="#" class="list-group-item list-group-item-warning">' 
				+ '<h5 class="list-group-item-heading">'
					+ '<span class="glyphicon glyphicon-tint"></span> '
					+  'Someone got sick'
				+ '</h5>'
				+ '<p class="list-group-item-text">'
					+ text
				+ '</p>'
				+ '<p class="list-group-item-text text-right">'
					+ '<span class="glyphicon glyphicon-time"></span> '
					+ '25.02.2015'
				+ '</p>'
			+ '</a>'
		);

		newsList.prepend(
			'<a href="#" class="list-group-item list-group-item-success">' 
				+ '<h5 class="list-group-item-heading">'
					+ '<span class="glyphicon glyphicon-ok"></span> '
					+  'Achievement'
				+ '</h5>'
				+ '<p class="list-group-item-text">'
					+ text
				+ '</p>'
				+ '<p class="list-group-item-text text-right">'
					+ '<span class="glyphicon glyphicon-time"></span> '
					+ '25.02.2015'
				+ '</p>'
			+ '</a>'
		);

		newsList.prepend(
			'<a href="#" class="list-group-item list-group-item-danger">' 
				+ '<h5 class="list-group-item-heading">'
					+ '<span class="glyphicon glyphicon-remove"></span> '
					+  'Someone failed aim'
				+ '</h5>'
				+ '<p class="list-group-item-text">'
					+ text
				+ '</p>'
				+ '<p class="list-group-item-text text-right">'
					+ '<span class="glyphicon glyphicon-time"></span> '
					+ '25.02.2015'
				+ '</p>'
			+ '</a>'
		);

		newsList.append(
			'<div class="panel-body">For March:</div>'
		);

		newsList.append(
			'<a href="#" class="list-group-item list-group-item-info">' 
				+ '<h5 class="list-group-item-heading">'
					+ '<span class="glyphicon glyphicon-plus"></span> '
					+  'New visit'
				+ '</h5>'
				+ '<p class="list-group-item-text">'
					+ text
				+ '</p>'
				+ '<p class="list-group-item-text text-right">'
					+ '<span class="glyphicon glyphicon-time"></span> '
					+ '25.02.2015'
				+ '</p>'
			+ '</a>'
		);
	}
});



</script>