<% layout('/layout/main') -%>

<script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>
<script src="/js/trainingweek.js"></script>

<div class="container">
	
	<div class="row">
	
		<div class="col-md-3 col-sm-4 col-xs-4" id="personalWidget">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4><span class="glyphicon glyphicon-user"></span> User info</h4>
				</div>
				<div class="panel-body">
					<h4><b><%- user.username %></b></h4>
					<hr>
					<h5 id="dateLabel"></h5>
					<hr>
					<form style="font-size: 16px;" name="visitForm">
						<div class="checkbox">
							<label>
								<input type="checkbox" <% if (visitedGym) {%> checked <% } %> name="gymVisit">
							    Visited Gym
							</label>
						</div>
						<div class="checkbox">
							<label>
							    <input type="checkbox" <% if (visitedPool) {%> checked <% } %> name="poolVisit">
							    Visited Pool
							</label>
						</div>
						<div class="checkbox">
							<label>
							    <input type="checkbox" <% if (visitedRun) {%> checked <% } %> name="runVisit">
							    Went Running
							</label>
						</div>
						<div>
							<button type="submit" class="btn btn-primary btn-block">
								Save		
							</button>
						</div>
						
					</form>

					<hr>

					<div id="successSaveAlert" class="alert alert-success  alert-dismissible" role="alert" hidden>
						<button hidden type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						SUCCESS! 
					</div>

				</div>		
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><h4><span class="glyphicon glyphicon-th-list"></span> Friends</h4></div>
				<ul id="friendsList" class="list-group">
					
				</ul>
			</div>

		</div>

		<div class="col-md-6 col-sm-8 hidden-xs">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4><span class="glyphicon glyphicon-calendar"></span> Your hard week</h4>
				</div>

				<table class="table table-condensed table-bordered">
					<colgroup>
				        <col <% if (dayOfWeek === 'mon') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'tue') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'wed') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'thu') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'fri') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'sat') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'sun') { %> class="info" <% } %> ></col>
				    </colgroup>
					<tr>
						<td><b>Mon</td>
						<td><b>Tue</td>
						<td><b>Wed</td>
						<td><b>Thu</td>
						<td><b>Fri</td>
						<td><b>Sat</td>
						<td><b>Sun</td>
					</tr>
					<tr>
						<td id="monGym">
							<% if (weekArray[0].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td id="tueGym">
							<% if (weekArray[1].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td id="wedGym">
							<% if (weekArray[2].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td id="thuGym">
							<% if (weekArray[3].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td id="friGym">
							<% if (weekArray[4].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td id="satGym">
							<% if (weekArray[5].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td id="sunGym">
							<% if (weekArray[6].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
					</tr>
					<tr>
						<td id="monPool">
							<% if (weekArray[0].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td id="tuePool">
							<% if (weekArray[1].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td id="wedPool">
							<% if (weekArray[2].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td id="thuPool">
							<% if (weekArray[3].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td id="friPool">
							<% if (weekArray[4].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td id="satPool">
							<% if (weekArray[5].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td id="sunPool">
							<% if (weekArray[6].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
					</tr>
					<tr>
						<td id="monRun">
							<% if (weekArray[0].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td id="tueRun">
							<% if (weekArray[1].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td id="wedRun">
							<% if (weekArray[2].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td id="thuRun">
							<% if (weekArray[3].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td id="friRun">
							<% if (weekArray[4].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td id="satRun">
							<% if (weekArray[5].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td id="sunRun">
							<% if (weekArray[6].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
					</tr>
				</table>
			</div>

		</div>
		
		<div class="col-md-3 col-sm-8 col-xs-8">
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 id="newsPanelHeading">News</h4>
				</div>
				<div class="panel-body">Here comes the lates news:</div>
				<div class="list-group" id="newsList"></div>
			</div>

		</div>
	
	</div>

</div>


<script>

var date;

$(document).ready(function() {
	$.ajax({
		url: "/latestNews",
		method: "GET"
	})
	.done(function(loadedNews) {
		loadedNews.reverse().forEach(function(news) {
			printVisitNews(news);
		});
	});

	$.ajax({
		url: "/loadFriends",
		method: "GET"
	})
	.done(function(loadedFriends) {
		loadedFriends.forEach(function(friend) {
			$('#friendsList').append('<li class="list-group-item">' + friend.username + '</li>');
		});
	});

});

$('#personalWidget form').on('submit', function() {
	var form = $(this);

    $.ajax({
		url: "/visit",
		method: "POST",
		data: form.serialize(),
		statusCode: {
			200: function(newsToShow) {
				//window.location.href = "/personal";
				$('#successSaveAlert').show();
			  	
			  	setTimeout(function() {
			  		$('#successSaveAlert').hide();
				}, 2000);

			  	var weekDay = '<%= dayOfWeek %>';
				redrawTrainingWeek(newsToShow, weekDay);

			  	newsToShow.forEach(function(news) {

			  		sendVisitNews(news);
			  		
			  	});
			},
			403: function(jqXHR) {
				var error = JSON.parse(jqXHR.responseText);
			}
		}
	});
	return false;
});

date = new Date();	

$('#dateLabel').append('Today: ' 
	+ ((date.getDate() < 10) ? '0' + date.getDate() : date.getDate()) + '.'
	+ ((date.getMonth() < 10) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '.' +
	+ date.getFullYear()
	);
  
var newsList = $('#newsList');

var socket = io.connect('', {
	reconnect: false
});

socket
	.on('newVisit', function(newsObj) {
		printVisitNews(newsObj);
	})
	.on('getNews', function(allNews) {
		allNews.forEach(function(news) {
			printVisitNews(news);
		});
	})
	.on('connect', function() {
		printStatus("соединение установлено");
	})
	.on('disconnect', function() {
		printStatusError("соединение потеряно");
		setTimeout(reconnect, 500);
	});

function sendVisitNews(newsType) {
	socket.emit('newVisit', newsType, function(res) {
		if (!res.exists) {
			printVisitNews(res.news);
		}
	});

	return false;
}

function reconnect() {
	socket.once('error', function() {
		setTimeout(reconnect, 500);
	});
	socket.socket.connect();
}

function printStatus(status) {
	//$('<a href="#" class="list-group-item list-group-item-success">').append($('<i>').text(status)).appendTo(newsList);
	$('#newsPanelHeading').prepend('<span class="glyphicon glyphicon-link"></span> ');
}

function printStatusError(status) {
	$('<a href="#" class="list-group-item list-group-item-danger">').append($('<i>').text(status)).appendTo(newsList);
}

function printVisitNews(news) {
	var nDate = new Date(news.newsDate);
	var timestamp = 
		(nDate.getDate() > 10 ? nDate.getDate() : '0' + nDate.getDate()) + '.'
		+ (nDate.getMonth() > 10 ? (nDate.getMonth()+1) : '0' + (nDate.getMonth()+1)) + '.'
		+ nDate.getFullYear();

	newsList.prepend(
		'<a href="#" class="list-group-item list-group-item-info">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-plus"></span> '
				+  'New visit'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ news.newsBody
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ timestamp
			+ '</p>'
		+ '</a>'
	);
}

function printOtherNews() {
	newsList.prepend(
		'<a href="#" class="list-group-item list-group-item-warning">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-tint"></span> '
				+  'Someone got sick'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);

	newsList.prepend(
		'<a href="#" class="list-group-item list-group-item-success">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-ok"></span> '
				+  'Achievement'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);

	newsList.prepend(
		'<a href="#" class="list-group-item list-group-item-danger">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-remove"></span> '
				+  'Someone failed aim'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);

	newsList.append(
		'<div class="panel-body">For March:</div>'
	);

	newsList.append(
		'<a href="#" class="list-group-item list-group-item-info">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-plus"></span> '
				+  'New visit'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);
}

</script>