<% layout('/layout/main') -%>

<script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>

<div class="container">
	
	<div class="row">
	
		<div class="col-md-3 col-sm-4 col-xs-4" id="personalWidget">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4><span class="glyphicon glyphicon-user"></span> User</h4>
				</div>
				<div class="panel-body">
					<h4><b><%- user.username %></b></h4>
					<hr>
					<h5 id="dateLabel"></h5>
					<hr>
					<form style="font-size: 16px;" name="visitForm">
						<div class="checkbox">
							<label>
								<input type="checkbox" <% if (visitedGym) {%> checked <% } %> name="gymVisit">
							    Visited Gym
							</label>
						</div>
						<div class="checkbox">
							<label>
							    <input type="checkbox" <% if (visitedPool) {%> checked <% } %> name="poolVisit">
							    Visited Pool
							</label>
						</div>
						<div class="checkbox">
							<label>
							    <input type="checkbox" <% if (visitedRun) {%> checked <% } %> name="runVisit">
							    Went Running
							</label>
						</div>
						<div>
							<button type="submit" class="btn btn-primary btn-block">
								Save		
							</button>
						</div>
						
					</form>

					<hr>

					<div id="successSaveAlert" class="alert alert-success  alert-dismissible" role="alert" hidden>
						<button hidden type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						SUCCESS! 
					</div>

				</div>
				
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><h4><span class="glyphicon glyphicon-th-list"></span> Users</h4></div>
				<ul class="list-group">
					<li class="list-group-item">Username</li>
					<li class="list-group-item">Username</li>
					<li class="list-group-item">Username</li>
					<li class="list-group-item">Username</li>
					<li class="list-group-item">Username</li>
				</ul>
			</div>
		</div>

		<div class="col-md-6 col-sm-8 hidden-xs">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4><span class="glyphicon glyphicon-calendar"></span> Your hard week</h4>
				</div>

				<table class="table table-condensed table-bordered">
					<colgroup>
				        <col <% if (dayOfWeek === 'mon') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'tue') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'wed') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'thu') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'fri') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'sat') { %> class="info" <% } %> ></col>
				        <col <% if (dayOfWeek === 'sun') { %> class="info" <% } %> ></col>
				    </colgroup>
					<tr>
						<td><b>Mon</td>
						<td><b>Tue</td>
						<td><b>Wed</td>
						<td><b>Thu</td>
						<td><b>Fri</td>
						<td><b>Sat</td>
						<td><b>Sun</td>
					</tr>
					<tr>
						<td>
							<% if (weekArray[0].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[1].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[2].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[3].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[4].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[5].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[6].gym) { %>
							<span class="label label-success">
							gym
							</span>
							<% } %>
						</td>
					</tr>
					<tr>
						<td>
							<% if (weekArray[0].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[1].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[2].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[3].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[4].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[5].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
						<td>
							<% if (weekArray[6].pool) { %> 
							<span class="label label-info">
							pool 
							</span>
							<% } %>
						</td>
					</tr>
					<tr>
						<td>
							<% if (weekArray[0].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td>
							<% if (weekArray[1].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td>
							<% if (weekArray[2].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td>
							<% if (weekArray[3].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td>
							<% if (weekArray[4].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td>
							<% if (weekArray[5].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
						<td>
							<% if (weekArray[6].running) { %> 
							<span class="label label-warning">
							running
							</span>
							 <% } %>
						</td>
					</tr>
				</table>

			</div>
		</div>
		
		<div class="col-md-3 col-sm-8 col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 id="newsPanelHeading">News</h4>
				</div>
				<div class="panel-body">Here comes the lates news:</div>
				<div class="list-group" id="newsList"></div>
			</div>
		</div>
	
	</div>

</div>


<script>

$('#personalWidget form').on('submit', function() {
	var form = $(this);

    $.ajax({
		url: "/visit",
		method: "POST",
		data: form.serialize(),
		statusCode: {
			200: function(visit) {
				//window.location.href = "/personal";
				
				$('#successSaveAlert').show();
			  	
			  	setTimeout(function() {
			  		$('#successSaveAlert').hide();
				}, 2000);
			  	visit.forEach(function(visit) {
			  		sendVisitNews('<%- user.username %>', visit);
			  	});
				
			},
			403: function(jqXHR) {
				var error = JSON.parse(jqXHR.responseText);
			}
		}
	});
	return false;
});

var date = new Date();

$('#dateLabel').append('Today: ' + 'Wed, 25 Feb, 2015');
  
var newsList = $('#newsList');

var socket = io.connect('', {
	reconnect: false
});

socket
	.on('message', function(message) {
		printMessage(message);
	})
	.on('connect', function() {
		printStatus("соединение установлено");
	})
	.on('disconnect', function() {
		printStatusError("соединение потеряно");
		setTimeout(reconnect, 500);
	});

function sendVisitNews(username, visit) {
	var text = username + ' visited ' + visit + ' today!';
	
	socket.emit('message', text, function() {
		printMessage(text);
	});

	return false;
}

function reconnect() {
	socket.once('error', function() {
		setTimeout(reconnect, 500);
	});
	socket.socket.connect();
}

function printStatus(status) {
	//$('<a href="#" class="list-group-item list-group-item-success">').append($('<i>').text(status)).appendTo(newsList);
	$('#newsPanelHeading').prepend('<span class="glyphicon glyphicon-link"></span> ');
}

function printStatusError(status) {
	//$('<a href="#" class="list-group-item list-group-item-danger">').append($('<i>').text(status)).appendTo(newsList);
}

function printMessage(text) {
	//$('<li class="list-group-item list-group-item-info">').text(text).prependTo(ul);
	newsList.prepend(
		'<a href="#" class="list-group-item list-group-item-info">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-plus"></span> '
				+  'New visit'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);

	newsList.prepend(
		'<a href="#" class="list-group-item list-group-item-warning">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-tint"></span> '
				+  'Someone got sick'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);

	newsList.prepend(
		'<a href="#" class="list-group-item list-group-item-success">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-ok"></span> '
				+  'Achievement'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);

	newsList.prepend(
		'<a href="#" class="list-group-item list-group-item-danger">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-remove"></span> '
				+  'Someone failed aim'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);

	newsList.append(
		'<div class="panel-body">For March:</div>'
	);

	newsList.append(
		'<a href="#" class="list-group-item list-group-item-info">' 
			+ '<h5 class="list-group-item-heading">'
				+ '<span class="glyphicon glyphicon-plus"></span> '
				+  'New visit'
			+ '</h5>'
			+ '<p class="list-group-item-text">'
				+ text
			+ '</p>'
			+ '<p class="list-group-item-text text-right">'
				+ '<span class="glyphicon glyphicon-time"></span> '
				+ '25.02.2015'
			+ '</p>'
		+ '</a>'
	);
}

</script>