<div class="container" >
	
	<div class="row">
		<div class="col-sm-12">
			<h4>Users</h4>
			<hr>
		</div>
	</div>
	
	<!-- USERS LIST COMPONENT -->						
	<user-list-component 
		userslist="users"> </user-list-component>				
	

	<div class="row">
		
		<div class="col-sm-12">
			
			<div class="panel panel-primary">
				
				<div class="panel-heading">
					<!--<span class="glyphicon glyphicon-user"></span> -->
					Registration Form
				</div>
				
				<div id="registrationPanelBody" class="panel-body">
					<registration-component userslist="users"> </registration-component>
				</div>

			</div>

		</div>

	</div>

	
	<div class="row">
		<div class="col-sm-12">
			<h4>Activities</h4>
			<hr>
		</div>
	</div>

	<div class="row">
		
		<div class="col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading">Add activity</div>

				<div class="panel-body">
					
					<add-activity activities="activities"> </add-activity>

				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading">Activities List</div>

				<activities-list activities="activities"></activities-list>

			</div>
		</div>
	</div>

</div>