<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/css/app.css">

	<script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
	<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<style>
		
		colgroup col.success {
		  background-color: #dff0d8;
		}

		colgroup col.info {
		  background-color: #d9edf7;
		}

	</style>
	
	<title>GYM Visiting</title>
</head>

<body>
	<%-partial('../partials/mainNavigation')%>

	<%- body -%>
</body>
</html>